@import '@/assets/styles/_mixins.scss';
@import '@/assets/styles/_vars.scss';

.call-menu {
    position: fixed;
    z-index: -1;
    top: 0;

    width: 100%;
    opacity: 1;
    z-index: 50;

    transition: .4s;
    background-color: transparent;
    height: 100%;

    display: none;
    flex-direction: column;

    // &.open {
    //     @media (max-width: 1024px) {
    //         opacity: 1;
    //         z-index: 50;
    //         height: fit-content;
    //     }
    // }

    @media (max-width: 1024px) { display: flex }

    &__container {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: fit-content;
        box-sizing: border-box;
        background-color: white;

        padding-top: 24px;
        padding-bottom: 24px;
    }

    &__order {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;

        padding: 14px;
        box-sizing: border-box;

        background-color: #FBF8F3;
        border: 1px solid #F0E5D2;
        border-radius: 12px;

        color: #6E7179;
    }

    &__contacts-call {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        box-sizing: border-box;
        margin-bottom: 24px;

        padding: 16px 0;

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
        }

        svg {
            width: 16px;
            height: 16px;
            
            margin-right: 10px;
            fill: white;
        }
    }
}

.call-menu-enter-active,
.call-menu-leave-active {
    transition: .4s;
    opacity: 1;
}

.call-menu-enter-from,
.call-menu-leave-to {
    transition: .4s;
    opacity: 0;
}