@import '@/assets/styles/_mixins.scss';
@import '@/assets/styles/_vars.scss';

.mobile-menu {
    position: fixed;
    z-index: 50;
    top: 0;

    width: 100%;
    opacity: 1;
    height: 100%;

    transition: .4s;
    background-color: white;

    display: none;
    flex-direction: column;

    // &.open {
    //     @media (max-width: 1024px) {
    //         opacity: 1;
    //         z-index: 50;
    //         height: 100vh;

    //         header {
    //             z-index: 5;
    //             opacity: 1;
    //         }
    //     }
    // }

    @media (max-width: 1024px) { display: flex }

    &__container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;

        width: 100%;
        height: 100%;

        box-sizing: border-box;
    }
    
    header {
        min-height: var(--header-height);
        border-bottom: 1px solid rgba(214, 214, 217, 0.5);
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        width: 100%;
        background-color: white;
        transition: .4s;

        z-index: 5;
        opacity: 1;
    }

    &__close {
        padding: 6px;
        background-color: rgba(214, 214, 217, 0.5);

        display: flex;
        border-radius: 9999px;

        svg {
            width: 24px;
            height: 24px;

            stroke: #30343F;
        }
    }

    &__nav {
        padding-top: calc(var(--header-height) + 24px);
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                flex-direction: column;
                
                &.active {
                    .mobile-menu__nav-item-header {
                        a, span {
                            color: $gnarlsGreen;
                        }

                        svg {
                            transform: initial;
                            stroke: $gnarlsGreen;
                        }
                    }
                }

                .mobile-menu__nav-item-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;
                    padding: 8px;
                    box-sizing: border-box;

                    background-color: transparent;

                    a, span {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 130%;

                        transition: .4s;
                        color: #30343F;
                    }

                    svg {
                        width: 16px;
                        height: 16px;

                        stroke: #ACAEB2;
                        fill: transparent;
                        margin: 2px 0 0 4px;
                        transition: .4s;

                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    &__drop-down {
        display: flex;
        flex-direction: column;

        border-radius: 10px;
        background-color: #F2F3F7;

        padding: 12px 0;
        margin-bottom: 8px;

        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;

            color: #1B2021;
            padding: 8px 24px;
        }
    }
}

.mobile-menu-enter-active,
.mobile-menu-leave-active {
    opacity: 1;
    transition: .6s ease;
    height: 100vh;
    
    header {
        transition: .1s ease;
        opacity: 1;
    }
}
.mobile-menu-enter-from,
.mobile-menu-leave-to {
    opacity: 0;
    transition: .6s ease;
    height: 0;

    header {
        transition: .4s ease;
        opacity: 0;
    }
}


.drop-down-enter-active,
.drop-down-leave-active {
    opacity: 1;
}
.drop-down-enter-from,
.drop-down-leave-to {
    opacity: 0;
}